<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:logout' %}"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
      </li>
      <li class="nav-item active">
        <span class="glyphicon glyphicon-user"></span> Welcome, {{ user.get_username }}. Thanks for logging in.</a></li>
      </li>
    </ul>
    <p></p>
    {% else %}
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'main:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </li>
    </ul>
    <p>Welcome, new user. Please log in.</p>
    {% endif %}
    
  </div>
</nav>

