{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Welcome Back!!</h2>
  <form method="post">
    {% csrf_token %}
    <label for="username">username: </label>
    <input id="username" type="text" name="username" value="{{ username }}">
    <br>
    <label for="password">password: </label>
    <input id="password" type="password" name="password" value="{{ password }}">
    <br>
    <button type="submit">Login</button>
  </form>
<h4>Don't have an account?  <a style="color: #2D6BB4;" href="{% url 'main:signup' %}">Sign Up</a></h4> 
{% endblock %}
